/.ddb
/cache.properties
/css/design.css
/build/api
/build/coverage
/build/logs
/build/pdepend
/build/phpdox
/tex/_minted-elements
/tex/elements.aux
/tex/elements.listing
/tex/elements.log
/tex/elements.out
/tex/elements.pdf
/tex/todo.png
/vendor
/.idea
/.stamp.*
