<header>
    <div id="top-bar" class="grid">
        <nav class="top-menu push-right">
            <ul>
                <li class="hide-on-mobile"><a class="{{ base-style }}"
                                              href="news">News</a></li>
                <li class="hide-on-mobile"><a class="{{ base-style }}"
                                              href="ueber-uns">Über
                    uns</a></li>
                <li class="hide-on-mobile"><a class="{{ base-style }}"
                                              href="karriere">Karriere</a>
                </li>
                <li class="hide-on-mobile"><a class="{{ base-style }}"
                                              href="kontakt">Kontakt</a>
                </li>
                <li><a target="blank"
                       href="http://www.wuestundpartner.com">Wüest &
                    Partner</a></li>
                <li><a target="blank"
                       href="http://www.de.wuestundpartner.com">Wüest &
                    Partner Deutschland</a></li>
            </ul>
        </nav>
    </div>
    <div id="main-bar" class="grid">
        <div class="logo col-3-12">
            <div class="main-menu-toggle-mobile push-right">
                <i class="fa fa-bars"></i>
            </div>
            <h1><a href="home"><i class="datahouse-logo"><span
                    class="hide-on-mobile hide-on-desktop">Datahouse</span></i></a>
            </h1>
        </div>
        <nav class="main-menu-mobile hide-on-desktop">
            <ul>
                <li>
                    <a class="active bold nature" href="dienstleistung">Dienstleistungen<i
                            class="fa fa-angle-down"></i></a>
                    <ul class="level-1">
                        <li><a class="nature1"
                               href="beratung">Beratung</a></li>
                        <li><a class="nature1" href="entwicklung">Umsetzung</a>
                        </li>
                        <li><a class="nature1" href="betrieb">Betrieb
                            und Support</a></li>
                    </ul>
                </li>
                <li>
                    <a class="cold" href="produkte">Produkte<i
                            class="fa fa-angle-down"></i></a>
                    <ul class="level-1">
                        <li><a class="cold1"
                               href="monitoor">Monitoor</a></li>
                        <li><a class="cold1"
                               href="">Elements</a></li>
                        <li><a class="cold1" href="tools">Online-Tools<i
                                class="fa fa-angle-down"></i></a>
                            <ul class="level-2">
                                <li><span class="link pointer cold2">Strassenverkehr<i
                                        class="fa fa-angle-down"></i></span>
                                    <ul class="level-3">
                                        <li><a class="cold3"
                                               href="verkehrsabgaben">Verkehrsabgaben</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="verkehrsabvergleich">Verkehrsabgabenvergleich</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><span class="link pointer cold2">Wohnen<i
                                        class="fa fa-angle-down"></i></span>
                                    <ul class="level-3">
                                        <li><a class="cold3"
                                               href="eigentumsrechner">Eigentumsrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="gemeindevergleich">Gemeindevergleich</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="hypothekarrechner">Hypothekarrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="mietzinsrechner">Mietzinsrechner</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><span class="link pointer cold2">Gesundheit<i
                                        class="fa fa-angle-down"></i></span>
                                    <ul class="level-3">
                                        <li><a class="cold3" href="bmi">Body
                                            Mass Index (BMI)</a></li>
                                        <li><a class="cold3"
                                               href="energieverbrauchsrechner">Energieverbrauchsrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="fruchtbarkeitsrechner">Fruchtbarkeitsrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="promillerechner">Promillerechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="schwangerschaftsrechner">Schwangerschaftsrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="fluessigkeitsbedarfsrechner">Flüssigkeitsbedarfsrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="trinkkalorienrechner">Trinkkalorienrechner</a>
                                        </li>
                                        <li><a class="cold3" href="whr">Waist-to-Hip
                                            ratio (WHR)</a></li>
                                    </ul>
                                </li>
                                <li><span class="link pointer cold2">Kommunikation<i
                                        class="fa fa-angle-down"></i></span>
                                    <ul class="level-3">
                                        <li><a class="cold3"
                                               href="urlshortener">URL-Shortener</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="textverschluesselung">Textverschlüsselung</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><span class="link pointer cold2">Finanzen<i
                                        class="fa fa-angle-down"></i></span>
                                    <ul class="level-3">
                                        <li><a class="cold3"
                                               href="familienzulagerechner">Familienzulagerechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="familienzulagevergleich">Familienzulagevergleich</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="immobilienleasingrechner">Immobilienleasingrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="kreditrechner">Kreditrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="leasingrechner">Leasingrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="portorechner">Portorechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="sparrechner">Sparrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="teurungsrechner">Teuerungsrechner</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><span class="link pointer cold2">Versicherung<i
                                        class="fa fa-angle-down"></i></span>
                                    <ul class="level-3">
                                        <li><a class="cold3"
                                               href="ahvbeitragsrechner">AHV-Beitragsrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="krankenkassenrechner">Krankenkassenrechner</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><span class="link pointer cold2">Steuern<i
                                        class="fa fa-angle-down"></i></span>
                                    <ul class="level-3">
                                        <li><a class="cold3"
                                               href="quellensteuern">Quellensteuern</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="saeule3a">Säule
                                            3a</a></li>
                                        <li><a class="cold3"
                                               href="steuerranking">Steuerranking</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="steuerrechner">Steuerrechner</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="steuervergleich">Steuervergleich</a>
                                        </li>
                                        <li><a class="cold3"
                                               href="bruttosteuerrechner">Bruttosteuerrechner</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><span class="link pointer cold1">Data Management<i
                                class="fa fa-angle-down"></i></span>
                            <ul class="level-2">
                                <li><a class="cold2"
                                       href="informationsportal">Informationsportal</a>
                                </li>
                                <li><a class="cold2"
                                       href="adcom-toolbox">Marketing
                                    Toolbox</a></li>
                                <li><a class="cold2"
                                       href="vertragsmanager">Vertragsmanager</a>
                                </li>
                                <li><a class="cold2" href="sla-manager">SLA
                                    Manager</a></li>
                            </ul>
                        </li>
                        <li><a class="cold1" href="geocoding-service">Geocoding
                            Service</a></li>
                        <li><a class="cold1" href="cloud-storage">Cloud
                            Storage</a></li>
                    </ul>
                </li>
                <li><a class="evencolder" href="technologie">Technologien</a>
                </li>
                <li><a class="warm" href="kunden">Kunden<i
                        class="fa fa-angle-down"></i></a>
                    <ul class="level-1">
                        <li><a class="warm1" href="referenzen">Kundenliste</a>
                        </li>
                    </ul>
                </li>
                <li><a class="{{ base-style }}" href="news">News<i
                        class="fa fa-angle-down"></i></a>
                    <ul class="level-1">
                        <li><a class="{{ base-style }}" href="news2016">2016</a>
                        </li>
                        <li><a class="{{ base-style }}" href="news2015">2015</a>
                        </li>
                    </ul>
                </li>
                <li><a class="{{ base-style }}" href="ueber-uns">Über
                    uns<i class="fa fa-angle-down"></i></a>
                    <ul class="level-1">
                        <li><a class="{{ base-style }}" href="vr">Verwaltungsrat</a>
                        </li>
                        <li><a class="{{ base-style }}" href="gl">Geschäftsleitung</a>
                        </li>
                        <li><a class="{{ base-style }}" href="team">Mitarbeiter</a>
                        </li>
                        <li><a class="{{ base-style }}"
                               href="agb">AGB</a></li>
                    </ul>
                </li>
                <li><a class="{{ base-style }}" href="karriere">Karriere<i
                        class="fa fa-angle-down"></i></a>
                    <ul class="level-1">
                        <li><a class="{{ base-style }}" href="jobs">Offene
                            Stellen<i class="fa fa-angle-down"></i></a>
                            <ul class="level-2">
                                <li><a class="{{ base-style }}"
                                       href="informatiklehre">Applikationsentwickler/-in
                                    EFZ<br/>(Informatiklehre)</a></li>
                                <li><a class="{{ base-style }}2"
                                       href="web-frontendentwickler">Web
                                    Frontend Entwickler/-in</a></li>
                            </ul>
                        </li>
                        <li><a class="{{ base-style }}1"
                               href="challenges">Challenges<i
                                class="fa fa-angle-down"></i></a>
                            <ul class="level-2">
                                <li><a class="{{ base-style }}2"
                                       href="naechste_haltestelle">Nächste
                                    Haltestelle</a></li>
                                <li><a class="{{ base-style }}2"
                                       href="spiel_logik">Spiel-Logik</a>
                                </li>
                                <li><a class="{{ base-style }}2"
                                       href="event_matching">Event
                                    Matching</a></li>
                                <li><a class="{{ base-style }}2"
                                       href="browser-brettspiel">Brettspiel
                                    im Browser</a></li>
                                <li><a class="{{ base-style }}2"
                                       href="single-page-website">Single-Page
                                    Website</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="{{ base-style }}" href="kontakt">Kontakt<i
                        class="fa fa-angle-down"></i></a>
                    <ul class="level-1">
                        <li><a class="{{ base-style }}"
                               href="anreise-zurich">Standort Zürich</a>
                        </li>
                        <li><a class="{{ base-style }}"
                               href="anreise-bern">Standort Bern</a>
                        </li>
                    </ul>
                </li>
                <li class="hide-on-mobile"><a target="blank"
                                              href="http://www.wuestundpartner.com">Wüest
                    & Partner</a></li>
                <li class="hide-on-mobile"><a target="blank"
                                              href="http://www.de.wuestundpartner.com">Wüest
                    & Partner Deutschland</a></li>
            </ul>
        </nav>
        <nav class="main-menu col-9-12 hide-on-mobile">
            <ul>
                {% for entry in menus.mainmenu %}
                <li><a class="{{ entry.css_classes }}" href="{{ entry.link }}">
                    {{ entry.label|e }}
                </a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
