<div class="modal" id="templateFormModal" tabindex="-1" role="dialog" aria-labelledby="templateFormModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Template</h4>
            </div>
            <div class="modal-body">
                <p class="error"></p>
                <div class="form-group">
                    <label for="template">Choose template:</label>
                    <select class="form-control" id="template">
                        {% for key, entry in known_definition_ids %}
                        <option value="{{ key }}" {% if current_definition == entry %}selected="selected"{% endif %}>
                            {{ entry }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="templateFormModalSave" type="button" class="btn btn-primary">Change</button>
            </div>
        </div>
    </div>
</div>
